{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div class="container">
        <div class="card-panel red darken-4"><span class="white-text">{{ error|trans({"Bad credentials": "Nom d'utilisateur ou mot de passe incorrect"}) }}</span></div>
    </div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3 ">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <div class="row">
                    <div class="col s12 input-field">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        </div>
                    </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 input-field">
                        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="password" id="password" name="_password" required="required" />
                    </div>
                </div>

                <div class="row">
                    <div class="col s6 input-field">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                    </div>
                    <div class="col s6 input-field right-align">
                        <input type="submit" id="_submit" name="_submit" class="btn-large waves-effect waves-green" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3 ">
            <div class="row">
                <div class="col s10">Nouvel Utilisateur ? <a class="btn waves-effect waves-green" href="{{ path('fos_user_registration_register') }}"><i class="material-icons">contacts</i> S'enregistrer</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
